
<footer>
  <div class="footer-container">
  <div class="logo div-cell">
    <a [routerLink]="['/home']"><img src="assets/img/logoWhite.png" alt="My nice logo"></a>
  </div>

  <div class="contacts div-cell">
    <div>
        <a href="tel:2538022635">&#9990; (253) - 802 - 2635</a>
    </div>
    <div>
        <a href="mailto:constructiontile@gmail.com">&#64; constructiontile@gmail.com</a>
    </div>
  </div>

  <div class="social div-cell">
    <div class="social-icon">
      <a href="https://vk.com" target="_blank">
        <img src="assets/img/vkontakte.png" alt="Vkontakte">
      </a>
    </div>

    <div class="social-icon">
      <a href="https://fb.com" target="_blank">
        <img src="assets/img/facebook.png" alt="Facebook">
      </a>
    </div>

    <div class="social-icon">
      <a href="https://www.instagram.com/constructionquality/" target="_blank">
        <img src="assets/img/instagram.png" alt="Instagram">
      </a>
    </div>

    <div class="social-icon">
      <a href="https://www.linkedin.com/" target="_blank">
        <img src="assets/img/whatsap.png" alt="Linked In">
      </a>
    </div>

    <div class="social-icon">
      <a href="https://twitter.com" target="_blank">
        <img src="assets/img/twitter.png" alt="twitter">
      </a>
    </div>

    <div class="social-icon">
      <a href="https://telegram.com" target="_blank">
        <img src="assets/img/telegram.png" alt="telegram">
      </a>
    </div>
  </div>
</div>
</footer>
