What We Specialize In
Mea Cuppa is a friendly, locally-owned coffee oasis with a distinctly metropolitan vibe. We feature hand-crafted coffee, tea and espresso drinks with influences from around the world. Our products are natural, organic and directly-traded whenever possible. We also offer Charleston’s widest selection of whole bean coffee sourced from 5-8 premier, small-batch roasters.

What You Can Experience
The staff at Mea Cuppa are happy to find the perfect coffee for you in a friendly, approachable way. Whether you are new to gourmet coffee, or an experienced connoisseur, our baristas can recommend coffees, brew methods and drinks to compliment your tastes. You won’t find any confusing jargon or “coffee snobbery” here – our mission is to elevate the coffee experience for all people.

Who We Are
Mea Cuppa Coffeebar is now in our third year. With over 20 years of combined experience in specialty coffee, we are Charleston’s foremost authority on all things coffee.

Hours:

Monday – Friday 7am-6pm

Saturday 8am-6pm

Sunday 8am-5pm

*Note: Before 9am, Smith St. access only.
