


/* ========================== START PHONE ==================== */

@media only screen and (max-width:580px){
  Input{
    padding:0;
  }
  input[type=text], select, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 80%;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  div {
    border-radius: 5px;
    /* padding: 20px; */
  }


  .contact-data{
    margin: 0;
    padding: 0;
  }

  .my-contact{
    margin:0;
    padding:0;
  }

  .my-contact a {
    text-decoration: none;
    color: #555;
    font-size: 13pt;
  }
}
/* ========================== END PHONE ==================== */


/* ========================== START TABLET ==================== */
@media only screen and (min-width:581px){
  input[type=text], select, textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label{
    width: 20%;
    display:inline-block;
  }

  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    padding: 20px;
  }


  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }


  .contact-data{
    margin: 0;
    padding: 10px;
  }

  h3{
    text-align:center;
  }

  .my-contact a {
    text-decoration: none;
    color: #555;
    font-size: 13pt;
  }

  .my-contact a:hover {
    color: #000;
  }

  .contact-data{
    margin: 0;
    padding: 10px;
  }
}
/* ========================== END TABLET ==================== */



/* ========================== START DESKTOP ==================== */

@media only screen and (min-width:1024px){
  .Input{
    margin:0 auto;
    display: block;
    width: 80%;
  }
  input[type=text], select, textarea{
    width: 60%;
  }

  input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
  }

  label{
    width:25%;
    display:inline-block;
  }

  .contact-data{
    margin: 0;
    padding: 10px;
  }

}
/*=============================== END DESKTOP ======================*/


/*=========================== GLOBAL RULES ==========================*/


input[type=text], select, textarea{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

h3{
  text-align:center;
}

.my-contact a {
  text-decoration: none;
  color: #555;
  font-size: 13pt;
}

.my-contact a:hover {
  color: #000;
}

.input-submit{
  text-align:center;
}


#sent-succes{
  color: lightcoral;
}
