<div class="project-container">

  <div class="row back-image">
    <img src="assets/img/floorTile.jpg" alt="Image of a kitchen">
    <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aperiam pariatur, asperiores veniam quisquam quo facere. Ab, a odio, laboriosam ut mollitia quae magni error, porro impedit quod officia commodi repellendus! Quod veritatis soluta animi provident modi. Voluptate, illum praesentium. </span>
  </div>


  <div class="row">
    <img src="assets/img/floorTile.jpg" alt="Image of a kitchen">
    <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aperiam pariatur, asperiores veniam quisquam quo facere. Ab, a odio, laboriosam ut mollitia quae magni error, porro impedit quod officia commodi repellendus! Quod veritatis soluta animi provident modi. Voluptate, illum praesentium. </span>
  </div>


    <div class="row">
        <img src="assets/img/floorTile.jpg" alt="Image of a kitchen">
        <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aperiam pariatur, asperiores veniam quisquam quo facere. Ab, a odio, laboriosam ut mollitia quae magni error, porro impedit quod officia commodi repellendus! Quod veritatis soluta animi provident modi. Voluptate, illum praesentium. </span>
      </div>


</div>
