<div class="my-container" >

  <div class="head-logo">
    <div class="hl1">
      <a [routerLink]="['/home']">
        <img src="assets/img/logo.png" alt="Quality construction tile service logo">
      </a>
    </div>
    <div  class="hl2">
      <h1>Quality construction tile service</h1>
      <h3>best service in the nation! Call us now: <a href="tel:2538022635">&#9990; (253)-802-2635</a></h3>
    </div>
  </div>


  <div id="showmenu" (click)="displayMenu()">
    <img src="assets/img/showMenu.svg" alt="Display menu">
  </div>

  <header class="my-header" id="mainMenu" (window:resize)="hideMenu($event)">
        <a class="menu-item"
        routerLinkActive="active-menu-item"
        [routerLink]="['/home']"
        (click)="hideMenu($event)">Home</a>
        <a class="menu-item"
        routerLinkActive="active-menu-item"
        [routerLink]="['/about']"
        (click)="hideMenu($event)">About</a>
        <a class="menu-item"
        routerLinkActive="active-menu-item"
        [routerLink]="['/projects']"
        (click)="hideMenu($event)">Portfolio</a>
        <a class="menu-item"
        routerLinkActive="active-menu-item"
        [routerLink]="['/freeestimate']"
        (click)="hideMenu($event)">Free estimate</a>
        <a class="menu-item"
        routerLinkActive="active-menu-item"
        [routerLink]="['/contacts']"
        (click)="hideMenu($event)">Contact us</a>
  </header>

  <br>

  <div class="row wrapper" id="my-slider">
    <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
      </div>
    </ngx-slick-carousel>
  </div>
</div>
