article{
  column-gap: 15px;
  font-size: 15pt;

}

article img{
  width: 100%;
}


@media only screen and (max-width: 580px){
  article{
    column-count: 1;
  }
}

@media only screen and (min-width: 581px){
  article{
    column-count: 2;
  }
}

@media only screen and (min-width: 1024px){
  article{
    column-count: 3;
  }
}
