<div class="container">
  
    <h2> Our working hours are</h2> 
  <article class="hours">
  Monday 7AM - 5PM <br> 
  Tuesday 7AM - 5PM <br> 
  Wednesday 7AM - 5PM <br> 
  Thursday 7AM - 5PM <br> 
  Friday 7AM - 5PM <br> 
  Saturday 10AM - 5PM <br> 
  Sunday Closed <br>
  <br>
  Our direct phone number is: 
  <strong><a href="tel:2538022635">(253) - 802 - 2635</a></strong>
  <br>
  {{ status }}

  </article>
<hr>
  <article>
  
    <img src="assets/img/floorTile.jpg" alt="Floor Tiles"><br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore mollitia, ipsum molestias excepturi neque delectus soluta nobis error nisi! Tenetur, beatae laborum incidunt excepturi illum reiciendis corporis neque, ipsa, minima eligendi iure pariatur rerum aperiam sequi esse aspernatur autem earum dolorem enim maxime molestiae tempore. Eaque
    harum id architecto. Asperiores fugiat minus voluptate sed et recusandae vel iusto alias quisquam soluta, provident deleniti velit quas animi eos adipisci aliquid atque illum hic doloribus eveniet fuga libero! Ipsam harum ad impedit perferendis saepe vitae id fuga eius molestiae iste odit, atque quia delectus voluptatem ullam cumque. Saepe ipsa accusantium ab nisi.
  </article>


</div>
